Flask==3.1.0
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.1.0
Flask-Login==0.6.3
Flask-WTF==1.2.2
WTForms==3.2.1
SQLAlchemy==2.0.36
psycopg2-binary==2.9.10
alembic==1.14.1
msal==1.31.1
authlib==1.4.0
boto3==1.35.81
fpdf2==2.8.2
gunicorn==23.0.0
cryptography==44.0.0
python-dotenv==1.0.1
email-validator==2.2.0
requests==2.32.3
pytest==8.3.4
